[submodule "Excel-Accounts-Frontend"]
	path = Excel-Accounts-Frontend
	url = https://gitlab.com/excel-mec/Excel-Accounts-Frontend.git
[submodule "Excel-Accounts-Backend"]
	path = Excel-Accounts-Backend
	url = https://gitlab.com/excel-mec/Excel-Accounts-Backend.git
