version: '3'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
      - client

  client:
    container_name: client
    image: excel-platform/client
    build:
      context: ./Excel-Accounts-Frontend/.
      dockerfile: Development.Dockerfile
    volumes:
      - /client/node_modules
      - ./Excel-Accounts-Frontend/.:/client
    ports:
      - 3000:3000

  api:
    container_name: api
    image: excel-platform/api
    build:
      context: ./Excel-Accounts-Backend/.
      dockerfile: Development.Dockerfile
    volumes:
      - /api/obj
      - /api/bin
      - ./Excel-Accounts-Backend/.:/api
    ports:
      - '5000:5000'
    depends_on:
      - db

  db:
    container_name: 'db'
    restart: always
    image: postgres:alpine
    expose:
      - '5432'
    volumes:
      - 'pgdata:/var/lib/postgresql/data'

volumes:
  pgdata:
